<header>
  <h1>
    {{groceryCategory}}
  </h1>
</header>
<div class="filter">
  <div class="icon">
    <i class="fa-solid fa-filter"  (click)="display()"></i>
  </div>
  <div class="options" [style.display]="ischange ? 'block':'none'">
    <p style="text-align: center;">Filter Option</p>
    <div class="option">
      <ul>
        <p style="font-size: 16px;">Brand</p>
        <li *ngFor="let brand of brands"><input type="checkbox" name="Brand" id="" value="{{brand}}"  (change)="onBrandChecked($event)">{{brand}}</li>

      </ul>
    </div>
  </div>
</div>
<section>
  <h5 style="margin: 50px;">Total grocery : {{total}}</h5>
  <div class="container">
    <ng-container *ngIf="groceries">

        <div id="card" *ngFor="let grocery of groceries">
          <img src="{{grocery.imageUrl}}" alt="">
         <p class="cate">{{grocery.category}}</p>
         <h6>{{grocery.grocery_name}}{{grocery.quantity}}</h6>
         <p>Rating : {{grocery.rating}}☆</p>
         <p>By <span>{{grocery.store}}</span></p>
         <div class="cart">
           <div class="price">
             <p><span>{{grocery.discountPrice | currency}}</span><span class="original-price"
               [style.text-decoration]="grocery.discountPrice ? 'line-through' : 'none'">
               {{grocery.price | currency}}
             </span>
             </p>
           </div>
           <button><i class="fa-solid fa-cart-shopping"></i>add</button>
         </div>
       </div>

    </ng-container>
    <div *ngIf="!(groceries && groceries.length>0)">
      <h1>Grocery not found</h1>
    </div>

  </div>
</section>
