<ng-container *ngIf="grocery">
  <!-- <app-product-header [title]="grocery.grocery_name"></app-product-header> -->
  <div class="container">
    <div class="left">
      <img src="{{ grocery.imageUrl }}" alt="" />
    </div>
    <div class="right">
      <p style="text-decoration: underline">{{ grocery.grocery_name }}</p>
      <h6>{{ grocery.grocery_name }}</h6>
      <ng-container *ngIf="grocery.discountPrice">
        <p>
          MRP:
          <span style="text-decoration: line-through">{{ grocery.price }}</span>
        </p>
        <h5>
          Price: Rs {{ grocery.discountPrice | currency
          }}<sub>({{ grocery.quantity }})</sub>
        </h5>
      </ng-container>
      <ng-container *ngIf="!grocery.discountPrice">
        <h5>
          Price: Rs {{ grocery.price | currency
          }}<sub>({{ grocery.quantity }})</sub>
        </h5>
      </ng-container>

      <div>
        <input *ngIf="!checkInCart(grocery.id)"
          type="number"
          name=""
          id=""
          class="count"
          [(ngModel)]="quantityCount"
          style="
            -moz-appearance: textfield;
            -webkit-appearance: none;
            appearance: none;
          "
        />
        <button  class="add" *ngIf="!checkCart" (click)="addCart()">Add cart</button>
        <button  class="add" *ngIf="checkCart" (click)="goCart()">Go to Cart</button>
      </div>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="!grocery">
  <h1>something wrong</h1>
</ng-container>
<section class="description">
  <h3 style="border-bottom: 1px solid #e7e7e7; padding-bottom: 20px">
    {{ grocery.grocery_name }}
  </h3>
  <p>Product details</p>
  <p>
    Lorem ipsum dolor, sit amen consenter adipisicing elite. Voluptatibus
    consequatur vitae eos accusantium quis est commodi temporibus enim iure
    velit tempore totam porro dolor natus obcaecati, veritatis eum in ducimus.
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dicta
    reprehenderit quod tempora, recusandae sit ipsa quae id, magni repudiandae
    eum qui quo velit unde impedit totam. Autem, molestias quam iste, quaerat
    cum minima sequi distinctio alias voluptatibus iure aut minus. Lorem ipsum
    dolor sit amen consenter adipisicing elit. Te
    netur soluta at eaque sunt
    temporibus odio quis aliquid, voluptas minus eum, corrupti architecto harum,
    iusto placeat laboriosam voluptatum deleniti enim neque iure non incidunt
    dolor nulla. Debitis in odit, maxime ad eos omnis eaque quasi, reiciendis
    repellat aliquam architecto et officia, assumenda dolor fugit doloremque
    rerum nulla consequuntur aut deserunt incidunt veritatis! Veritatis maiores
    dolor suscipit sequi rem, excepturi nesciunt quisquam!
  </p>
</section>
