<div class="container">
  <div class="card-grp">
    <div class="card">
      <h6>office</h6>
      <div class="address">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Perferendis, libero. Quaerat error consequuntur eos sint? Officia ad esse iusto numquam! Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo officia beatae blanditiis rem fuga voluptatum earum eaque possimus id in aperiam debitis recusandae, fugit esse soluta! Quae impedit reiciendis voluptate?
      </div>
      <div class="action">
        <button>deliver Here</button>
        <i class="fa-solid fa-trash"></i>
        <i class="fa-solid fa-pen"></i>
      </div>

    </div>
  </div>
</div>
