.container{
  display: grid;
  grid-template-columns: auto auto;
  align-items: flex-end;
}
td{
  padding: 10px 30px;
  font-size: 25px;
}
.count{
  border: 1px solid black;
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 12px;
}

.grocery{
  display: flex;
  align-items: center;
  max-width: 540px;
  padding: 30px;
  position: relative;
  border-bottom: 1px solid #DBDADA;
}
.row{
  display: flex;
  justify-content: center;
  align-items: center;
}
.row, .col{
width: 100%;
}

.col2{
  margin: 30px;
}

.close{
  position: relative;
  top: -60px;
  right: 120px;
}
img{
  width: 66px;
  height: 66px;
}
