<ng-container *ngIf="items && items.length>0">
  <div class="container">
    <div class="items">
      <div class="grocery" *ngFor="let grocery of items">
        <div class="col2
        ">
          <img src="{{grocery.imageUrl}}" alt="">
        </div>
        <div class="col">

            <div class="col">
              <h6>{{grocery.grocery_name}}</h6>
              <p>{{grocery.quantity}}</p>
            </div>


          <div class="row">
            <div class="col"><button class=" btn" (click)="decrease(grocery)">-</button><span
                class="count">{{grocery.quantityCount}}</span><button class="increase btn" (click)="increase(grocery)">+</button>
            </div>
            <div class="col">
              $6.00
            </div>
          </div>
        </div>

        <div class="close" (click)="removeCartItem(grocery.id)"><i class="fa-solid fa-xmark"></i></div>
      </div>
    </div>
    <div class="total">
      <table>
        <tr>
          <td>Sub-Total</td>
          <td>{{subTotal|currency}}</td>
        </tr>
        <tr>
          <td>
            GST
          </td>
          <td>
            {{gst|currency}}
          </td>
        </tr>
        <tr>
          <td>total</td>
          <td>{{total|currency}}</td>
        </tr>
        <tr>
          <td colspan="2" style="text-align: center;background: #53B175;
          border-radius: 19px;color: white;"><a routerLink="/checkOut">CheckOut</a></td>
        </tr>
      </table>
    </div>
  </div>

</ng-container>
