<div class="container">
  <form [formGroup]="profileForm" (submit)="onSubmit()">

    <div class="row">
      <div class="col">
        <label for="First Name">First Name</label><br>
        <input type="text" name="firstName" id="" formControlName="firstName">
        <div *ngIf="firstName!.invalid && firstName!.touched">
          <small [style.display]="firstName?.errors?.['required']">
            Please enter firstName
          </small>
        </div>
      </div>
      <div class="col">
        <label for="Last Name">Last Name</label><br>
        <input type="text" name="lastName" id="" formControlName="lastName">
        <div *ngIf="lastName!.invalid && lastName!.touched">
          <small [style.display]="lastName?.errors?.['required']">
            Please enter Last Name
          </small>
        </div>
      </div>
    </div>



    <div class="row">
      <div class="col">
        <label for="">Alternate Contact Email</label><br>
        <input type="email" name="altEmail" id="" formControlName="altEmail">
        <br>
        <div *ngIf="altEmail?.invalid && altEmail?.touched">
          <small *ngIf="altEmail?.errors?.['email']">
            Please enter a valid email address
          </small>
        </div>

      </div>





      <div class="col">
        <label for="">Alternate Contact Number</label><br>
        <input type="text" name="altContact" id="" formControlName="altContact" maxlength="10">
        <div *ngIf="altContact?.invalid && altContact?.touched">
          <small *ngIf="altContact?.errors?.['minlength']">
           Alternate Contact Number must be at least {{altContact?.errors?.['minlength'].requiredLength}} characters long
          </small><br>
          <small *ngIf="altContact?.errors?.['maxlength']">
            Alternate Contact Number cannot be more than {{altContact?.errors?.['maxlength'].requiredLength}} characters long
          </small>
          <small *ngIf="altContact?.errors?.['pattern']">
            Contact must contain only digits (0-9)
          </small>
        </div>
      </div>


    </div>

    <div class="row">
      <div class="col">
        <label for="">Date of Birth</label><br>
        <input type="date" name="" id="" formControlName="dob">

        <div *ngIf="dob!.invalid && dob!.touched">

          <small [style.display]="dob?.errors?.['required']">
           Please enter Date of Birth
          </small>
        </div>
      </div>
      <div class="col">
        <label for="">Password</label><br>
        <input type="password" name="" id="" formControlName="password">
        <div *ngIf="password?.invalid && password?.touched">
          <small *ngIf="password?.errors?.['required']">
            Password is required<br>
          </small>
          <small *ngIf="password?.errors?.['minlength']">
            Password must be at least {{ password?.errors?.['minlength'].requiredLength }} characters long<br>
          </small>
          <small *ngIf="password?.hasError('match')">
            {{ password?.errors?.['message'] }}
          </small>
        </div>

      </div>

      <div class="submit">
        <button type="submit" [disabled]="profileForm.invalid">save</button>
      </div>

    </div>
  </form>



</div>
