#slider .caption {
  z-index: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
  padding: 0;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 400px;
  text-align: center;
  background: 0 0;
  border: 0;
  text-align: left;
  margin-left: 120px;
}

#slider .caption h1 {
  font-size: 40px;
  color: #253d4e;
}

#slider {
  position: relative;
  height: 500px;
  width: 100%;
  /* background-image: url(../../assets/hero-bg.png); */
}

#slider img {
  width: 100%;
  height: 100%;
}
