<section style="margin: 20px 30px; margin-bottom: 100px; position: relative;">
  <div id="header">
    <h3>Featured Products
    </h3>
    <ul>
      <li *ngFor="let category of categories"><a [routerLink]="['/grocery-category', category]">{{ category }}</a></li>

    </ul>
  </div>




<div class="container" style="overflow: hidden;">
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div id="card">
           <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
           <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
           <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
           <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
           <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
           <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
           <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
           <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <!-- Repeat for each card -->
    </div>
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>

</section>
