<section style="margin: 20px 30px; margin-bottom: 100px;">
  <div id="header">
    <h3>Featured Products
    </h3>
    <ul>
      <li>All</li>
      <li>Vegetable</li>
      <li>Fruits</li>
      <li>Meat</li>
    </ul>
  </div>

  <!-- <div id="card-grp">
  <div class="prev">
    ←
  </div>
    <div id="card">
      <img src="../../../../assets/Rectangle 19.png" alt="">
      <p class="cate">Vegetables</p>
      <h6>Redish 500g</h6>
      <p>☆☆☆☆☆(4)</p>
      <p>By <span>Mr.food</span></p>
      <div class="cart">
        <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
        <button><i class="fa-solid fa-cart-shopping"></i>add</button>
      </div>
    </div>
    <div id="card">
      <img src="../../../../assets/Rectangle 19.png" alt="">
      <p class="cate">Vegetables</p>
      <h6>Redish 500g</h6>
      <p>☆☆☆☆☆(4)</p>
      <p>By <span>Mr.food</span></p>
      <div class="cart">
        <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
        <button><i class="fa-solid fa-cart-shopping"></i>add</button>
      </div>
    </div>
    <div id="card">
      <img src="../../../../assets/Rectangle 19.png" alt="">
      <p class="cate">Vegetables</p>
      <h6>Redish 500g</h6>
      <p>☆☆☆☆☆(4)</p>
      <p>By <span>Mr.food</span></p>
      <div class="cart">
        <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
        <button><i class="fa-solid fa-cart-shopping"></i>add</button>
      </div>
    </div>
    <div id="card">
      <img src="../../../../assets/Rectangle 19.png" alt="">
      <p class="cate">Vegetables</p>
      <h6>Redish 500g</h6>
      <p>☆☆☆☆☆(4)</p>
      <p>By <span>Mr.food</span></p>
      <div class="cart">
        <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
        <button><i class="fa-solid fa-cart-shopping"></i>add</button>
      </div>
    </div>
    <div id="card">
      <img src="../../../../assets/Rectangle 19.png" alt="">
      <p class="cate">Vegetables</p>
      <h6>Redish 500g</h6>
      <p>☆☆☆☆☆(4)</p>
      <p>By <span>Mr.food</span></p>
      <div class="cart">
        <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
        <button><i class="fa-solid fa-cart-shopping"></i>add</button>
      </div>
    </div>



    <div class="next">
      →
    </div>
  </div> -->

  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div id="card">
          <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
          </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
          <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
          <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
          <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
          <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
          <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
          <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
          <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
          <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
          <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
          <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
          <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
          <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
          <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div id="card">
          <img src="../../../../assets/Rectangle 19.png" alt="">
          <p class="cate">Vegetables</p>
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price">
              <p><span>$2</span><span class="origanle-price">$3.99</span></p>
            </div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
      <!-- add more product cards here -->
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</section>
