<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<section style="margin: 20px 30px; position: relative;">
  <div id="header">
    <h3>Explore Categories
    </h3>
    <ul>
      <!-- <li > <a [routerLink]="['/groceries','All1','All']"> All</a></li> -->
      <li *ngFor="let category of categories"><a [routerLink]="['/groceries', category.slug,category.title]">{{ category?.title}}</a></li>

    </ul>
  </div>
  <carousel style="height: 220px;">
    <div class="carousel-cell"  *ngFor="let category of categories">
      <div id="card" [routerLink]="['groceries', category.slug,category.title]">
        <div class="img">
          <img src="../assets/image 3.png" alt="">
        </div>
        <h5>{{category?.title}}</h5>
        <p>{{groceryCountByCategory[category.title]}}</p>
      </div>
    </div>
  </carousel>



</section>
