<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-scale-multiple"
>
  <p style="font-size: 20px; color: white">Loading...</p>
</ngx-spinner>
<section style="margin: 20px 30px; margin-bottom: 100px; position: relative">
  <div id="header">
    <h3>Featured Products</h3>
    <ul>
      <!-- <li > <a [routerLink]="['/groceries','All1','All']"> All</a></li> -->
      <li *ngFor="let category of categories">
        <a [routerLink]="['/groceries', category.slug, category.title]">{{
          category?.title
        }}</a>
      </li>
    </ul>
  </div>

  <div class="container" style="overflow: hidden; margin-top: 20px">
    <carousel style="height: 230px">
      <div class="carousel-cell"  *ngFor="let product of products">
        <div id="card" >
          <img
            src="assets/Rectangle 19.png"
            alt=""
            (click)="navigateDetails(product.id)"
          />
          <!-- <p class="cate">{{productCategory}}</p> -->
          <h6>{{ product.title }}</h6>
          <!-- <p>Rating : {{product.rating}}☆</p> -->
          <!-- <p (click)="getBrandProduct(product.category,product.store)">By<u style="color: #3BB77E;cursor: pointer;"> {{product.store}}</u></p> -->
          <div class="cart">
            <div class="price">
              <p>
                <span *ngIf="product.discount_amount">{{
                  product.discount_amount | currency
                }}</span
                ><span
                  class="original-price"
                  [style.text-decoration]="
                    product.discount_amount != '0' ? 'line-through' : 'none'
                  "
                >
                  {{ product.amount | currency }}
                </span>
              </p>
            </div>
            <button (click)="addCart(product)" class="add">
              <i class="fa-solid fa-cart-shopping"></i>add
            </button>
          </div>
        </div>
      </div>
    </carousel>
  </div>
</section>
