<app-product-header [title]="'CheckOut'"></app-product-header>
<div class="container">
  <h6 style="margin-bottom: 20px;">
    Select Delivery Address
  </h6>
  <form (submit)="success()" [formGroup]="checkOutForm">


    <div id="row" *ngFor="let address of addresses">
      <input type="radio" name="deliveryAddress" id="" value="{{address.id}}"
        formControlName="deliveryAddress">{{address.address_line_1+"
      ,"+address.area+","+address.postal_code}}
    </div>


    <p>By placing an order you agree to our
      Terms And Conditions</p>
    <h5>Payment Method: Cash On Delivery</h5>
    <h5>Grand Total: 6789</h5>

    <div *ngIf="deliveryAddress?.invalid && deliveryAddress?.touched">
      <small *ngIf="deliveryAddress?.errors?.['required']">
        deliveryAddress is required<br>
      </small>
    </div>
    <div>
      <a class="btn" (click)="cancel()">cancel</a>&nbsp;
      <button type="submit" class="btn green" [disabled]="checkOutForm.invalid">Place an Order</button>
    </div>



  </form>



</div>
