<section>
  <div class="part">
  <h1 id="header">Top Sells</h1>
  <ul>
    <li>
      <div id="card">
        <div class="image">
          <img src="../../../../assets/image 3.png" alt="">
        </div>
        <div class="details">
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="card">
        <div class="image">
          <img src="../../../../assets/image 3.png" alt="">
        </div>
        <div class="details">
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="card">
        <div class="image">
          <img src="../../../../assets/image 3.png" alt="">
        </div>
        <div class="details">
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="card">
        <div class="image">
          <img src="../../../../assets/image 3.png" alt="">
        </div>
        <div class="details">
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
  <div class="part">
  <h1 id="header">Top Rated</h1>
  <ul>
    <li>
      <div id="card">
        <div class="image">
          <img src="../../../../assets/image 3.png" alt="">
        </div>
        <div class="details">
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="card">
        <div class="image">
          <img src="../../../../assets/image 3.png" alt="">
        </div>
        <div class="details">
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="card">
        <div class="image">
          <img src="../../../../assets/image 3.png" alt="">
        </div>
        <div class="details">
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="card">
        <div class="image">
          <img src="../../../../assets/image 3.png" alt="">
        </div>
        <div class="details">
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
  <div class="part">
  <h1 id="header">Trending Items</h1>
  <ul>
    <li>
      <div id="card">
        <div class="image">
          <img src="../../../../assets/image 3.png" alt="">
        </div>
        <div class="details">
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="card">
        <div class="image">
          <img src="../../../../assets/image 3.png" alt="">
        </div>
        <div class="details">
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="card">
        <div class="image">
          <img src="../../../../assets/image 3.png" alt="">
        </div>
        <div class="details">
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="card">
        <div class="image">
          <img src="../../../../assets/image 3.png" alt="">
        </div>
        <div class="details">
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
  <div class="part">
  <h1 id="header">Recently Added</h1>
  <ul>
    <li>
      <div id="card">
        <div class="image">
          <img src="../../../../assets/image 3.png" alt="">
        </div>
        <div class="details">
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="card">
        <div class="image">
          <img src="../../../../assets/image 3.png" alt="">
        </div>
        <div class="details">
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="card">
        <div class="image">
          <img src="../../../../assets/image 3.png" alt="">
        </div>
        <div class="details">
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
    </li>
    <li>
      <div id="card">
        <div class="image">
          <img src="../../../../assets/image 3.png" alt="">
        </div>
        <div class="details">
          <h6>Redish 500g</h6>
          <p>☆☆☆☆☆(4)</p>
          <p>By <span>Mr.food</span></p>
          <div class="cart">
            <div class="price"><p><span>$2</span><span class="origanle-price">$3.99</span></p></div>
            <button><i class="fa-solid fa-cart-shopping"></i>add</button>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>

</section>
