<div class="container">
  <h6 style="margin-bottom: 20px;">
    Select Delivery Address
  </h6>
  <div id="row">
    <input type="radio" name="address" id="" value="hjk">Odell J. Gabbert 1045 Kildeer DriveNorfolk, VA 23502

  </div>
<div id="row">
  <input type="radio" name="address" id=" ">Thelma E. Rogers
3651 Burton AvenueMemphis, TN 38104
</div>
<div id="row">
  <input type="radio" name="address" id="">Kathleen G. Hogan 3516 Layman AvenueFayetteville, NC 28306 <br>

</div><p>By placing an order you agree to our
  Terms And Conditions</p>
  <h5>Payment Method: Cash On Delivery</h5>
  <h5>Grand Total: 6789</h5>
  <div><a class="btn" (click)="cancel()">cancel</a>&nbsp;<a class="btn green"  (click)="success()" routerLinkActive="router-link-active" >Place an Order</a></div>
</div>
