<footer>

  
<section>
    <ul  class="contact">
    <li>
      <img src="../../assets/brand.png" alt="Bootstrap" width="39" height="39">
      <img src="../../assets/logo.png" alt="Bootstrap" width="196" height="44px">
    </li>
    <li>
      <p><i class="fa fa-location-dot"></i><span>Address:</span>1762 School House Road</p>
    </li>
    <li>
      <p><i class="fa fa-phone"></i><span>Call us :1233-777</span></p>
    </li>
    <li>
      <p><i class="fa-regular fa-envelope"> </i><span>Email : </span>groceyish@contact.com</p>
    </li>
    <!-- <li>
     <p> <i class="fa-regular fa-clock"></i><span>Work hours :</span>8:00 - 20:00, Sunday -  Thursday</p>
    </li> -->
  </ul>

</section>

<section class="social">
  <div>© 2023, All rights reserved</div>
  <div >
    <i class="fa-brands fa-facebook"></i>
    <i class="fa-brands fa-linkedin"></i>
    <i class="fa-brands fa-square-instagram"></i>
    <i class="fa-brands fa-square-twitter"></i>
  </div>
</section>

</footer>

