
<div class="container">

  <form action="" [formGroup]="changePassword" (submit)="onSubmit()">
    <small>
      {{message}}
    </small>
    <div class="row">
      <div class="col">
        <label for="currentPassword">Current Password</label><br>
        <input type="text" name="currentPassword" id="" formControlName="currentPassword">
        <div *ngIf="currentPassword!.invalid && currentPassword!.touched">
          <small [style.display]="currentPassword?.errors?.['required']">
            Please enter Current Password
          </small>
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col">
        <label for="newPassword">newPassword</label><br>
        <input type="newPassword" name="newPassword" id="" formControlName="newPassword">
        <div *ngIf="newPassword?.invalid && newPassword?.touched">
          <small *ngIf="newPassword?.errors?.['required']">
            newPassword is required
          </small>
          <small *ngIf="newPassword?.errors?.['minlength']">
            newPassword must be at least {{ newPassword?.errors?.['minlength'].requiredLength }} characters long
          </small>
          <small *ngIf="newPassword?.errors?.['pattern']">
            <br> must contain at least one uppercase letter,<br> one lowercase letter, and one number
          </small>
        </div>

      </div>

    </div>

    <div class="row">
      <div class="col">
        <label for="confirmNewPassword">Confirm New Password</label><br>
        <input type="text" name="confirmNewPassword" id="" formControlName="confirmNewPassword">

        <div *ngIf="confirmNewPassword?.invalid &&confirmNewPassword?.touched">
          <small *ngIf="confirmNewPassword?.hasError('required')">
            Please enter rePassword
          </small>
          <small  *ngIf="confirmNewPassword?.hasError('mismatch')">
            {{ confirmNewPassword?.errors?.['message'] }}

          </small>
        </div>
      </div>

    </div>


    <div class="submit">

      <button type="submit" [disabled]="changePassword.invalid">save</button>
    </div>

  </form>



</div>
