<section class="facilities">
  <div id="card">
    <div class="left">
     <img src="../../assets/Group.png" alt="">
    </div>
    <div class="right">
      <h4>Best Prices & Deals</h4>
      <p>Don’t miss our daily amazing deals and prices</p>
    </div>
  </div>
  <div id="card">
    <div class="left">
      <img src="../../assets/Vector (2).png" alt="">
    </div>
    <div class="right">
      <h4>Refundable </h4>
      <p>If your items have damage we agree to refund it</p>
    </div>
  </div>
  <div id="card">
    <div class="left">
     <img src="../../assets/Vector (1).png" alt="">
    </div>
    <div class="right">
      <h4>Free delivery</h4>
      <p>Do purchase over $50 and get free delivery anywhere</p>
    </div>
  </div>
</section>
